@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    width: 250px;
    text-align: center;
    font-size: 50px;
    color: azure;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bg-opening {
    background: url('/assets/img/sample-opening.jpg') no-repeat center center/cover;
    position: block;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    color: black;
}